+
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Coffee</title>

    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.1/css/all.min.css">
    <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/css/bootstrap.min.css">
    <link rel="stylesheet" href="css/style.css">

    <!-- swiper effect apva mate -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.css" />
    <link rel="stylesheet" href="https://unpkg.com/swiper/swiper-bundle.min.css">

    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>

    <!-- latest compiled JavaScript -->
    <script src="http://maxcdn.bootstrapcdn.com/3.3.5/js/bootstrap.min.js"></script>

</head>

<body>

    <header class="header">

        <!-- <div id="menu.btn" class="fas fa-bars"></div> -->
        <a href="#" class="logo"> coffee <i class="fas fa-mug-hot"></i></a>

        <nav class="navbar">
            <a href="#home">home</a>
            <a href="#about">about</a>
            <a href="#menu">menu</a>
            <a href="#review">review</a>
            <a href="#book">book</a>
        </nav>

        <a href="#book" class="btn">book a table</a>
    </header>


    <section class="home" id="home">
        <div class="row">
            <div class="content">
                <h3>fresh coffee in the morning</h3>
                <a href="#" class="btn">buy one now</a>
            </div>
            <div class="image">
                <img src="image/home-img-1.png" class="main-home-image" alt="">
            </div>
        </div>

        <div class="image-slider">
            <img src="image/home-img-1.png" alt="">
            <img src="image/lol.png" alt="">
            <img src="image/homee-img-3.png" alt="">
        </div> -
    </section>

    <section class="about" id="about">
        <h1 class="heading"> about us <span>why choose us</span></h1>
        <div class="row">
            <img src="image/about-us1.jpg" alt="">
            <div class="content">
                <h3 class="title">what's make our coffee special</h3>
                <p>We are immensely grateful for your patronage at our coffee cafe. Your presence adds warmth and
                    vibrancy to our space, enriching the atmosphere with shared moments of joy and connection over the
                    perfect cup of coffee. </p>
                <a href="#" class="btn">read more</a>
                <div class="icons-container">
                    <div class="icons">
                        <img src="image/about-us-1.png" alt="">
                        <h3>quality coffee</h3>
                    </div>
                    <div class="icons">
                        <img src="image/about-us-2.png" alt="">
                        <h3>our branches</h3>
                    </div>
                    <div class="icons">
                        <img src="image/dell.png" alt="">
                        <h3>free delivery</h3>
                    </div>
                </div>
            </div>
        </div>
    </section>

    <section class="menu" id="menu">
        <h1 class="heading">our menu <span>popular menu</span></h1>
        <div class="box-container">
            <a href="#" class="box">
                <img src="image/menu-1.png" alt="">
                <div class="content">
                    <h3>Mocha/white Mocha</h3>
                    <p>Indulge in the rich aroma of Mocha coffee, a decadent blend crafted to perfection. With its
                        exquisite balance of bold espresso and creamy chocolate notes, Mocha captivates the senses with
                        every sip.</p>
                    <span>$6.99</span>
                </div>
            </a>
            <a href="#" class="box">
                <img src="image/menu22.png" alt="">
                <div class="content">
                    <h3>Java chip</h3>
                    <p>Embark on a delightful journey with Java Chip coffee, a tantalizing fusion of robust espresso and
                        decadent chocolate chips. Each sip offers a harmonious blend of bold flavors, complemented by
                        the subtle sweetness of creamy indulgence.</p>
                    <span>$8.99</span>
                </div>
            </a><a href="#" class="box">
                <img src="image/menu-3.png" alt="">
                <div class="content">
                    <h3>Caramel/Espresso</h3>
                    <p>Discover the exquisite taste of Caramel Espresso, where rich espresso meets the sweet embrace of
                        caramel. Indulge in the luxurious blend of velvety smoothness and caramelized goodness, creating
                        a symphony of flavors that dance on your palate.</p>
                    <span>$6.95</span>
                </div>
            </a><a href="#" class="box">
                <img src="image/menu-4.png" alt="">
                <div class="content">
                    <h3>Cramel Java Chip</h3>
                    <p>Experience the blissful harmony of Caramel Java Chip, where rich espresso intertwines with
                        sumptuous caramel and chocolate chips. Delight in every sip as the robust espresso dances with
                        the sweet melody of caramel, while the indulgent chocolate chips add a delightful crunch. </p>
                    <span>$7.97</span>
                </div>
            </a><a href="#" class="box">
                <img src="image/menu-5.png" alt="">
                <div class="content">
                    <h3>Lattee</h3>
                    <p>Indulge in the luxurious experience of Latte, where smooth espresso meets velvety steamed milk in
                        perfect harmony. Each sip offers a delicate balance of rich espresso and creamy milk, creating a
                        symphony of flavors that caress your palate.</p>
                    <span>$8.89</span>
                </div>
            </a><a href="#" class="box">
                <img src="image/menu66.png" alt="">
                <div class="content">
                    <h3>Black Tea Cream</h3>
                    <p>Immerse yourself in the comforting embrace of Black Tea Cream, a harmonious blend of bold black
                        tea and creamy richness. With each sip, experience the robust flavors of black tea perfectly
                        complemented by the smoothness of creamy delight</p>
                    <span>$8.50</span>
                </div>
            </a>
        </div>
    </section>

    <section class="review" id="review">
        <h1 class="heading">reviews <span>what people says</span></h1>
        <div class="swiper review-slider">
            <div class="swiper-wrapper">

                <div class="swiper-slide box">
                    <i class="fas fa-quote-left"></i>
                    <i class="fas fa-quote-right"></i>
                    <img src="image/man1.jpg" alt="">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, suscipit quis laudantium sit
                        voluptates optio.</p>
                    <h3>John deo</h3>
                    <span>satisfied client</span>
                </div>


                <div class="swiper-slide box">
                    <i class="fas fa-quote-left"></i>
                    <i class="fas fa-quote-right"></i>
                    <img src="image/woman1.png" alt="">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, suscipit quis laudantium sit
                        voluptates optio.</p>
                    <h3>Neha shah</h3>
                    <span>satisfied client</span>
                </div>

                <div class="swiper-slide box">
                    <i class="fas fa-quote-left"></i>
                    <i class="fas fa-quote-right"></i>
                    <img src="image/man2.jpg" alt="">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, suscipit quis laudantium sit
                        voluptates optio.</p>
                    <h3>Sid Nigam</h3>
                    <span>satisfied client</span>
                </div>

                <div class="swiper-slide box">
                    <i class="fas fa-quote-left"></i>
                    <i class="fas fa-quote-right"></i>
                    <img src="image/woman2.jpg" alt="">
                    <div class="stars">
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                        <i class="fas fa-star"></i>
                    </div>
                    <p>Lorem ipsum dolor sit, amet consectetur adipisicing elit. Molestias, suscipit quis laudantium sit
                        voluptates optio.</p>
                    <h3>Alia Bhatt</h3>
                    <span>satisfied client</span>
                </div>
            </div>
            <div class="swiper-pagination"></div>
        </div>
    </section>

    <section class="book" id="book">
        <h1 class="heading">bookings <span>reserve a table</span></h1>
        <form action="/api/v1/message/send" method="post">
            <input type="text" placeholder="your name" name="name" class="box">
            <input type="email" placeholder="your email" name="email" class="box">
            <input type="number" placeholder="your number" name="number" class="box">

            <textarea name="message" placeholder="your message" class="box" id="" cols="30" rows="10"></textarea>
            <input type="submit" value="send message" class="btn">
        </form>
    </section>

    <section class="footer">
        <div class="box-container">
            <div class="box">
                <h3>our branches</h3>
                <a href="#"><i class="fas fa-arrow-right"></i>india</a>
                <a href="#"><i class="fas fa-arrow-right"></i>USA</a>
                <a href="#"><i class="fas fa-arrow-right"></i>france</a>
                <a href="#"><i class="fas fa-arrow-right"></i>africa</a>
                <a href="#"><i class="fas fa-arrow-right"></i>japan</a>
            </div>
            <div class="box">
                <h3>quick links</h3>
                <a href="#home"><i class="fas fa-arrow-right"></i>home</a>
                <a href="#about"><i class="fas fa-arrow-right"></i>about</a>
                <a href="#menu"><i class="fas fa-arrow-right"></i>menu</a>
                <a href="#review"><i class="fas fa-arrow-right"></i>review</a>
                <a href="#book"><i class="fas fa-arrow-right"></i>book</a>
            </div>
            <div class="box">
                <h3>contact info</h3>
                <a href="#"><i class="fas fa-phone"></i> +123-456-7890</a>
                <a href="#"><i class="fas fa-phone"></i> +111-222-3333</a>
                <a href="#"><i class="fas fa-envelope"></i> harsh@gmail.com</a>
                <a href="#book"><i class="fas fa-envelope"></i> surat,india = 395006</a>
            </div>
            <div class="box">
                <h3>contact info</h3>
                <a href="https://www.facebook.com/" target="_blank"><i class="fab fa-facebook"></i> facebook</a>
                <a href="https://twitter.com/" target="_blank"><i class="fab fa-twitter"></i> twitter</a>
                <a href="https://www.instagram.com/" target="_blank"><i class="fab fa-instagram"></i> instagram</a>
                <a href="https://www.linkedin.com/" target="_blank"><i class="fab fa-linkedin"></i> linkedin</a>
            </div>


        </div>

    </section>
    <script src="https://unpkg.com/swiper/swiper-bundle.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/swiper@11/swiper-bundle.min.js"></script>
    <script src="../public/js/script1.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            console.log("hello");


            document.querySelectorAll('.image-slider img').forEach(images => {
                images.addEventListener('click', () => {
                    var src = images.getAttribute('src');
                    let mainHomeImage = document.querySelector('.main-home-image');
                    if (mainHomeImage) {
                        mainHomeImage.src = src;
                    }
                });
            });

            let menu = document.querySelector('#menu-btn');
            let navbar = document.querySelector('.navbar');

            if (menu && navbar) {
                menu.addEventListener('click', () => {
                    menu.classList.toggle('fa-times');
                    navbar.classList.toggle('active');
                });
            }

            window.addEventListener('scroll', () => {
                if (menu && navbar) {
                    menu.classList.remove('fa-times');
                    navbar.classList.remove('active');
                }
            });

            document.querySelectorAll('.image-slider img').forEach(images => {
                images.addEventListener('click', () => {
                    var src = images.getAttribute('src');
                    let mainHomeImage = document.querySelector('.main-home-image');
                    if (mainHomeImage) {
                        mainHomeImage.src = src;
                    }
                });
            });

            var swiper = new Swiper('.review-slider', {
                slidesPerView: 1,
                spaceBetween: 30,
                loop: true,
                pagination: {
                    el: '.swiper-pagination',
                    clickable: true,
                },
            });
        });

    </script>
</body>

</html>